@import '~bootstrap/scss/bootstrap';
@import './museum.scss';

@import 'resources/scss/artist';



header{
    height: 60px;
}


main{
    height: calc(100vh - 60px);
    overflow-y: auto;
}

.aside{
 height: calc(100vh - 60px)
}
